<footer class="site-footer">

  <div class="wrapper">

    <h1 class="footer-heading">Contact</h1>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>{{ site.short-title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col text-center">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col text-center">
        <p>&copy; {{  site.author }} {{ site.time | date: '%Y' }}</p>
      </div>
    </div>
  </div>

</footer>
