<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-site-nav" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="main-site-nav">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <!-- Links (li>a) -->
      </ul>
    </div>
    <!-- <div class="container">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <nav class="site-nav">
        <div class="trigger">
          {% assign pages = site.pages | sort: "order" %}
          {% for my_page in pages %}
            {% if my_page.title %}
              <!-- {{ my_page.url }} --><!--
              <a class="page-link scroll-link" href="#{{ my_page.title }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    </div>-->
  </div>
</nav>