<a href="http{% if include.hasSecureLink %}s{% endif %}://{{ include.link }}/{{ include.subdomain }}"
target="_blank" class="footer-link">
  <!-- <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
	<i class="fa fa-stack-1x fa-{{ include.type }} fa-inverse"></i>
  </span> -->
  <span>{{ include.type }}</span>
</a>
{% if include.sublink %}
<a href="http{% if include.hasSecureLink %}s{% endif %}://{{ include.link }}/{{ include.subdomain }}/{{ include.sublink }}" target="_blank" class="footer-link">
  <span>{{ include.sublink }}</span>
</a>
{% endif %}