<section id="{{ page.slug }}">
  <div class="intro-header">
    <div class="container">
      <div class="intro-message">
        <h1 class="mb-0">Szynka
        <span class="text-primary">Mateusz</span>
        </h1>
        <div class="subheading mb-5">
          <a href="mailto:devmsw12@gmail.com">devmsw12@gmail.com</a>
        </div>
        <p class="mb-5">
          {{ page.content | markdownify }}
        </p>
        <ul class="list-inline list-social-icons mb-0">
          {% if site.github_username %}
            <li class="list-inline-item">
              {% include icon-social.html type="github" hasSecureLink="true" link="github.com" subdomain=site.github_username %}
            </li>
          {% endif %}
          {% if site.twitter_username %}
            <li class="list-inline-item">
              {% include icon-social.html type="twitter" hasSecureLink="true" link="twitter.com" subdomain=site.twitter_username %}
            </li>
          {% endif %}
          {% if site.linkedin_username %}
            <li class="list-inline-item">
              {% include icon-social.html type="linkedin" hasSecureLink="true" link="linkedin.com/in" subdomain=site.linkedin_username %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
