ul.projects {
  margin-top: 2em;
  list-style: none;
  padding-left: 0;
  text-align: left;

  li {
    margin-bottom: 2em;
    .project-image {
      width: 80px;
      height: 80px;
      margin-right: 1em;
      float: left;

      & > img {
        max-width: 100%;
        max-height: 100%;
        text-align: center;
      }
    }
    .project-content {
      float: left;
      max-width: -moz-calc(100% - 80px - 1em);
      max-width: -webkit-calc(100% - 80px - 1em);
      max-width: calc(100% - 80px - 1em);

      .title {
        margin-bottom: .15em;
        margin-top: 0;
      }
      .subtitle {
        font-size: .8em;
      }
      .description {
        font-size: .9em;

        p {
          line-height: 1.5em;
        }
      }
    }
  }
  li[onclick] {
    cursor: pointer;
  }
  li:after {
    content: "";
    clear: both;
  }
  li:last-of-type {
    margin-bottom: 0;
  }
}