---
layout: default
---
<div class="container">
  <div class="post blog-article">
    <header class="post-header">
      <h2 class="post-title">{{ page.title }}</h2>
      {% if page.date != null %}
        <p class="no-indent">{{ page.date | date: "%Y-%m-%d" }} | {{ page.categories }}</p>
      {% endif %}
    </header>
    <div class="post-content">
      {{ content }}
    </div>
  </div>
  <br>
  --- <br>
  <span class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span>
</div>
