---
layout: page
---

<h1><b>{{ page.title }}</b></h1>

<p class="article-metadata text-muted">
  {{ page.date | date_to_long_string }} -
  <b>
    {% assign words = content | number_of_words %}
    {% if words < 360 %}
    less than 1 min read time
    {% else %}
    {{ words | divided_by:180 }} mins read time
    {% endif %}
  </b>

  <br>

  {% if page.tags != empty %}
  Tags:
  {% for tag in page.tags %}
  <span class="badge badge-pill text-primary border border-primary">{{ tag }}</span>
  {% endfor %}
  {% endif %}

</p>

{{ content }}

<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "https://mszynka.pl{{ page.url }}";
    this.page.identifier = "{{ page.id }}";
  };

  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://mszynka.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>